<html>
  <head>
    <title>PostIt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
      <nav class="teal row valign-wrapper">
        <!--<img src="images/postit.png" />-->
        <div class="col s4"> <h1 class="center-align"> Post IT </h1> </div>
        <div class="col s8 nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down valign-wrapper">
          <li> <a href="" data-toggle="modal" data-target="#signup">
            Sign Up
          </a> </li>
          <li> <a href="" data-toggle="modal" data-target="#signin">
              Sign In
          </a> </li>
        </ul>
      </div>
      </nav>
    </header>
    <div class="container">
    <div>
      <img src="images/img.jpg" class="hoverable responsive-img"/>
      <p class="center-align">Welcome, this is a brief Explanation of what this Web App does.</p>
    </div>
    <div class="row">
    <div class="col-sm-1"></div>
    <div id="signup" class="modal fade" role="dialog">
      <form class="modal-dialog">
        <div class="modal-header">
          <h2 >Sign Up </h2>
          <button type="button" class="close" data-dismiss="modal" >&times;</button>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="FirstName LastName" required />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" required/>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" required/>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" required id="password"/>
        </div>
        <div class="form-group">
          <span id="showvalidity" style="color:white;"></span>
          <input type="password" class="form-control" placeholder="Confirm Password" onkeyup="validate(this.value)" required/>
        </div>
        <div class="form-group">
          <input type="submit" class="form-control btn btn-success" value="Submit" />
        </div>
      </form>
    </div>
    <div id="signin" class="modal fade" role="dialog">
      <form class="modal-dialog">
        <div class="modal-header">
          <h2 >Sign In </h2>
          <button type="button" class="close" data-dismiss="modal" >&times;</button>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" required/>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" required/>
        </div>
        <div class="form-group">
          <input type="submit" class="form-control btn btn-success" value="Log In" />
        </div>
      </form>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
    <footer style="text-align:center;">
      <p> &copy; 2017 Evidence </p>
    </footer>

    <script>
      function validate(cpassword){
        let password = document.getElementById('password').value;
        if(password == cpassword){
          document.getElementById('showvalidity').innerHTML = 'Matches';
        } else {
          document.getElementById('showvalidity').innerHTML = 'Mismatches';
        }
      }
    </script>
  </body>
</html>
