<html>
  <head>
    <title>PostIt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <header style="text-align:center;">
      <nav>
        <img src="images/postit.png" />
      </nav>
    </header>
    <div style="text-align:center;">
      Welcome, this is a brief Explanation of what this Web App does.
    </div>
    <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <form>
        <h2> Send Message </h2>
        <div class="form-group">
          <select class="form-control" />
            <option value="">Select a Group</option>
            <option value="">Group 1</option>
            <option value="">Group 2</option>
            <option value="">Group 3</option>
          </select>
        </div>
        <div class="form-group">
          <textarea placeholder="Your Message" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label> Attach a file </label>
          <input type="file" class="form-control" placeholder="Email" />
        </div>
        <div class="form-group">
          <select class="form-control" />
            <option value="">Select a Priority</option>
            <option value="">Priority 1</option>
            <option value="">Priority 2</option>
            <option value="">Priority 3</option>
          </select>
        </div>
        <div class="form-group">
          <input type="submit" class="form-control btn btn-success" value="Send" />
        </div>
      </form>
    </div>
    <div class="col-sm-1"></div>
  </div>
    <footer style="text-align:center;">
      <p> &copy; 2017 Evidence </p>
    </footer>

  </body>
</html>
