<html>
  <head>
    <title>PostIt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/sendmessage.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/creategroup.js"></script>
  </head>
  <body>
    <header class="postitheader">
      <nav class="transparent postitnav">
        <a href="#" class="brandname">Post IT</a>
        <a href="#" style="margin-left:2%;">welcome Evidence</a>
        <ul id="nav-mobile" class="right hide-on-small-only">
          <li> <a href=""> Messages </a> </li>
          <li> <a href="" data-toggle="modal" data-target="#creategroup"> Create a Group </a> </li>
          <li> <a href=""> Send Message </a> </li>
          <li> <a href=""> Log Out </a> </li>
        </ul>
        <a class="dropdown-button right hide-on-med-and-up" href="#" data-activates="menu"> Menu </a>
        <ul id="menu" class="dropdown-content">
          <li><a href="#!">Messages</a></li>
          <li><a href="" data-toggle="modal" data-target="#creategroup"> Create a Group </a></li>
          <li><a href="#!">Send Message</a></li>
          <li><a href="#!">Log Out</a></li>
        </ul>
      </nav>
    </header>
    <div class=" deep-purple lighten-5">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
              <form>
                <fieldset class="postfieldset">
                  <legend>Send Message</legend>
                <div class="form-group row customcontrol">
                  <div class="form-control col-sm-6 bordered-element">
                    <label> Type Group Name </label>
                    <div class="chips chips-autocompletegroup"></div>
                  </div>
                  <div class="col-sm-1"></div>
                  <select class="form-control col-sm-5 bordered-element" required/>
                    <option value="">Select a Priority</option>
                    <option value="">Normal</option>
                    <option value="">Urgent</option>
                    <option value="">Critical</option>
                  </select>
                </div>
                <div class="form-group">
                  <textarea placeholder="Your Message" class="form-control bordered-element customtextarea" required></textarea>
                </div>
                <div class="form-group">
                  <label> Attach a file </label>
                  <input type="file" class="form-control bordered-element" placeholder="Email" />
                </div>
                <div class="form-group">
                  <input type="submit" class="form-control btn deep-purple lighten-3 custombutton" value="Send" required/>
                </div>
              </fieldset>
              </form>
            </div>
            <div class="col-sm-1"></div>
         </div>
       </div>
      <div class="col-sm-2"></div>
  </div>
  <div id="creategroup" class="modal fade reg-form" role="dialog">
    <form class="modal-dialog">
      <h2> Create a Group </h2>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="What will you like to call your Group?" required />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Purpose (optional)" required />
      </div>
      <div class="form-group">
        <label> Add members by username </label>
        <div class="chips chips-autocomplete"></div>
      </div>
      <div class="form-group">
        <input type="submit" class="form-control btn custombutton deep-purple lighten-3" value="Create" />
        <button type="button" class="form-control close custombutton" data-dismiss="modal" >Cancel</button>
      </div>
    </form>
  </div>
    <footer class="center-align">
      <p> &copy; 2017 Evidence </p>
    </footer>
  </body>
</html>
