// include another .scss file from a sub-directory
@import './about/about.scss';

body {
  .header {
    padding-left: 3%;
    border: 1px solid red;
    width: 100.7%;
  }
  .nav {
    width: 100.7%;
  }
  .title {
    font-size: 30px;
  }
  .logger {
    float: right;
  }
  .form {
    font-size: 20px;
  }
  .borderd {
      border: 1px solid red;
  }
  .form-header {
    font-size: 24px;
    color: teal;
  }
  .header-wrapper {

  }
  .form-icon {
    font-size: 60px;
    display: inline;
    text-align: center;
  }
  .forget-password-wrapper {
    text-align: center;
  }
  .how {
    text-align: center;
  }
  .how-card  {
    height: 200px;
    text-align: center;
    vertical-align: middle;
  }
  .messageholder {
     width:100%;
     padding: 10px;
		 height:auto;
		 border-bottom:1px solid #999;
		 background:white;
		 box-shadow: 0 1px 1px 0 rgba(0, 0,0 , 0.2);
		 }
  .messageholder:hover {
    background:#f4f8f8;
  }
}
